/*css stylesheet*/
body {
    background-image: url("source.gif");
    background-attachment: static;
    background-repeat: no-repeat;
background-size: 100vw;
background-blend-mode: exclusion;
    cursor: crosshair;
    font-family: "franklin-gothic-urw-comp", sans-serif;
    font-weight: 700;
    font-style: italic;
    background-color: mediumblue;
        color:magenta;
   
}

.adhdclass {
    position: absolute;
    padding: .05em;
    border: .5em solid greenyellow;
}

#adhd {
    height: 30vw;
    width: 60vw;
    padding: .04em;
  background-color: lightcyan;
    background-blend-mode: color-dodge;
    font-family: inherit;
    font-size: 4em;
    
    letter-spacing: 70%;
    line-height: 250%;
   
    line-height: 1.5em;
    animation-name: spin;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
   
}
@keyframes spin {
    0% {transform: rotateY(0deg)}
    25% {transform: rotateY(90deg)}
     50% {transform: rotateY(180deg)skewX(-45deg)skewY(-45deg)}
   75% {transform: rotateY(90deg)} 
    100% {transform: rotateY(0deg)skewX(45deg)skewY(45deg)}
    
   
}

p {
font-variant:small-caps;
    margin-left: 50vw;
    margin-top: -.05em;
    position:relative;
    color: darkblue;
    mix-blend-mode:exclusion;
    font-size: 30vw;
    letter-spacing: -.85vw;
    line-height: 20vw;
    z-index: -2;
    animation-name: drag;
    animation-direction: alternate-reverse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
    
}

@keyframes drag {
   from {top:-10vw;}
    to {top: 80vw;}
    15% {transform: rotateX(45deg) scale(0%)}
    50% {transform: rotateZ(90deg) rotateX(90deg)}
    100% {transform: rotateZ(360deg) scale{100%}}
}
.fuck {
    width:10%;
    height: 10%
    margin-top: -50%;
    position: static;
}

   
}
    color: greenyellow;
}

#deficit {
    margin-left: .5em;
    color:black;
}

#hyper {
    margin-left:1em;
    color:aqua
}

#disorder {
    z-index: 4;
    margin-left: 2.5em;
    transform-origin: left;
    color:yellow;
}

#rainbow {
    width: 66em;
    height: auto;
    margin:5vw;
    z-index: 20;
    transform: skew(-5deg, -15deg);
    
}


#mydiv {
    position: fixed;
    mix-blend-mode: difference;

    z-index: 2;

}

#picOne {
position: absolute;
    height: 200em;
    mix-blend-mode: exclusion;
    cursor: move;
    z-index: 10;
    color: orangered;


}

